@import "tailwindcss";

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat.ttf') format('truetype');
}

@font-face {
  font-family: 'Bebas';
  src: url('./fonts/BebasNeue Bold.otf') format('truetype');
}

:root {
  background-color: #0a0a0a;
}

* {
  scroll-behavior: smooth;
}

/*html {*/
/*  @apply overflow-y-hidden;*/
/*}*/